@{
    Layout = "~/Views/Shared/app.cshtml";
}
<img class="wave" src="~/image/login/wave-3.png">
<main>
    <section class="presentation">
        <div class="introduction">
            <div class="intro-text">
                <h1 style="letter-spacing: 12px">SUPERVOLT</h1>
                <p>"Iluminamos tu vida, iluminamos tu hogar..."</p>
            </div>
            <br>
            <a href="#" class="btn btn-info btn-cta">Ingresar</a>

        </div>
        <div class="cover">
            <img src="~/image/idea.svg" alt="code">
        </div>
    </section>
</main>

    