
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error404</title>
</head>
<body>
    <div> 
        <h5>Ha ocurrido un error, lo estamos solucionando. Intenta más tarde esoy</h5>
    </div>
</body>
</html>
